h1 {
    text-decoration: underline;
}

#addBooksBtn,
#resetBtn,
#searchBtn {
    font-weight: bold;
}

#searchBtn {
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:not(:first-child):hover {
    background-color: #f5f5f5
}

#searchResults,
#resetBtn {
    display: none;
}

span {
    font-weight: bold;
}

#resetBtn {
    float: right;
}

#books {
    float: left;
}